*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item{
    margin-top: 16px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    min-height: 80px;
    line-height: 200px;
    background-color: orange;
}

.container{
    display: flex;
    padding: 0 32px;
}
.side-bar{
    width: 300px;
}
.content{
    width: calc(100% - 300px);
}

@media screen and (max-width:1113px){
    .side-bar{
        display: none;
    }
    .content{
        width: 100%;
    }
}